
body{
    background: linear-gradient(rgb(11, 30, 41), rgb(9, 65, 97) 90%) no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;

    position: relative;

    height: 100vh;
}

header{
    margin-top: 50px;
    position: absolute;
    top: 0;

    width: 90%;

    display: flex;  
    justify-content: space-between;
}

header a {
    text-decoration: none;

    margin: 10px;
}

h2{
    font-family: monospace;
    font-weight: 50;
    font-size: 30px;

    color:rgb(255, 245, 226);
}

* p{
    color:rgb(255, 245, 226);
    font-family: monospace;
}

button{
    font-family: monospace;
    border: none;
    border-radius: 2.5px;
    border-bottom: 2px solid transparent;

    background-color: rgb(101, 98, 114);

    color: aliceblue;

    width: 120px;
    height: 40px;

}

button:hover{
    background-color: rgba(255, 255, 255, 0.548);
    color:rgb(1, 8, 12) ;
    font-weight: bolder;
    border-bottom: 2px solid rgb(3, 3, 3);
}

input [type="text"],input [type="password"]{
    font-family: monospace;
}

input:hover{
    background-color: rgba(240, 248, 255, 0.068);
}